/*
 * Colour Scheme for each section
 */

/* Pass a comma separated list of backgrounds: */
//background:url('http://demo.tutorialzine.com/2013/10/css3-features-you-can-finally-use/assets/img/rocket_big.png') no-repeat center 70px, url('http://demo.tutorialzine.com/2013/10/css3-features-you-can-finally-use/assets/img/space.jpg') no-repeat bottom center;

/* Animate the positions of both of the backgrounds */
//transition:background-position 1s;

.scheme-colour-1 {
	color: #fff;
	background-color: #45a26e;
}

.scheme-colour-2 {
	background: $scheme-color-two;
}

.scheme-colour-3 {
	background: $scheme-color-three;
}



.group-items {
  li.group-item {
    display: inline-block;
    margin-left: 1em;
    vertical-align: top;
    a {
      color:  #2b3040;
      .title {
        display: block;
        margin-top: 5px;
      }
    }
  }
}