/*
 * Colour Scheme for each section
 */


.scheme-colour-1 {
	background-color: $scheme-color-one;
}

.scheme-colour-2 {
	background-color: $scheme-color-two;
}

.scheme-colour-3 {
	background-color: $scheme-color-three;
}

.scheme-colour-4 {
	background-color: $scheme-color-four;
}

.scheme-colour-5 {
	background-color: $scheme-color-five;
}

.scheme-colour-6 {
	background-color: $scheme-color-six;
}



.group-items {
	li.group-item {
		display: inline-block;
		margin-left: 1em;
		vertical-align: top;
		a {
			color:  #2b3040;
			.title {
				display: block;
				margin-top: 5px;
			}
		}
	}
}