/*
 * Set default styles to all chunks
 */

/** SECTIONS  **********/
.section {
  padding-bottom: 2em;
  padding-top: 1em;
}

.skew {
  @include skew(-1deg);
}

.anim-img {

  img {
    max-width: 100%;
  }
}

////////

*,
*:after,
*::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

section {
	position: relative;
	padding: 7em 10%;
	background: #2980b9;
	color: #fff;
	text-align: center;
}

section h2 {
	margin: 0;
	padding: 0;
	font-size: 2.8em;
	font-weight: 400;
}

section p {
	color: rgba(0,0,0,.3);
	font-size: 1.3em;
	line-height: 1.5;
}


.text:first-child {
	text-align: right;
}

.text:nth-child(2) {
	text-align: left;
}

section::before,
section::after {
	position: absolute;
	content: '';
	pointer-events: none;
}

.ss-style-doublediagonal {
	z-index: 1;
	padding-top: 6em;
	background: #2072a7;
}

.ss-style-doublediagonal::before,
.ss-style-doublediagonal::after {
	top: 0;
	left: -25%;
	z-index: -1;
	width: 150%;
	height: 75%;
	background: inherit;
	transform: rotate(-2deg);
	transform-origin: 0 0;
}

.ss-style-doublediagonal::before {
	height: 50%;
	background: #116094;
	transform: rotate(-3deg);
	transform-origin: 3% 0;
}

.col-2 .column {
	width: 49%;
}

.col-3 .column {
	padding: 0 1%;
	width: 32.8%;
	text-align: center;
}

.col-4 .column {
	padding: 0 1%;
	width: 24.6%;
	text-align: center;
}

.col-3 .column p {
	padding: 1.4em;
}

.column {
	display: inline-block;
	vertical-align: top;
}

.icon {
	border: .1em solid white;
	display: block;
	width: 2em;
	height: 2em;
	border-radius: 50%;
	background: rgba(0,0,0,0.1);
	color: #fff;
	text-align: center;
	font-size: 8em;
	line-height: 2em;
	margin: 0 auto;
}

.icon-small {
	@extend .icon;
	border-width: 0.05em;
	height: .7em;
	width: .7em;
	margin-bottom: 0px;
}

.icon-image {
	overflow: hidden;
	img {
		max-width: 100%;
		vertical-align: top;
	}
}


.profile-thumb {
	background: white;
	overflow: hidden;

	img {
		max-width: 100%;
	}
}


/** IMPORTS  **********/
@import "chunk.section-top";
@import "chunk.section-banner";
@import "chunk.section.scheme-colours";