/*
 * Set default styles to all chunks
 */

/** SECTIONS  **********/

.skew {
  @include skew(-1deg);
}

.anim-img {

  img {
    max-width: 100%;
  }
}

.column, .column-2 {
	display: inline-block;
	vertical-align: top;
}

.column {
	width: 75%;
}

.column-2 {
	padding-left: 4%;
	width: 20%;
}

////////

*,
*:after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

section {
  position: relative;
  padding: 4em 12%;
  background: #fff;
  color: #3c3c3e;

}


section h2 {
  margin: 0;
  padding: 0;
  font-size: 2.8em;
  font-weight: bold;
}

section p {
	color: #898989;
  opacity: .8;
  font-size: 1.2em;
  line-height: 1.3em;
}


.icon {
	display: inline-block;
	vertical-align: middle;
	height: 12px;
	width: 12px;
	margin-right: .3em;

	&.icon-twitter {
		background: url(../img/icon-twitter.png) no-repeat left center transparent;
		height: 15px;
		width: 21px;
	}
}

/** IMPORTS  **********/
@import "chunk.section-top";
@import "chunk.section-banner";
@import "chunk.section.scheme-colours";


.fixed-section {
	position: fixed;
	width: 100%;
	top: 0;
	height: 25em;
}

