/*
 * Color Guide
 */


/** DEFAULTS  ***********/
$base-color-light: #ffffff;
$base-color-dark: #000000;

/** SECTIONS  ***********/
$scheme-color-one: #e17150;
$scheme-color-one-light: red;
$scheme-color-one-dark: red;

$scheme-color-two: #27a4a4;
$scheme-color-two-light: green;
$scheme-color-two-dark: green;

$scheme-color-three: #25c8e1;
$scheme-color-three-light: yellow;
$scheme-color-three-dark: yellow;

$scheme-color-four: #f2b366;
$scheme-color-four-light: blue;
$scheme-color-four-dark: blue;

$scheme-color-five: #8ce1c0;
$scheme-color-five-light: pink;
$scheme-color-five-dark: pink;

$scheme-color-six: #5e5e5d;
$scheme-color-six-light: gray;
$scheme-color-six-dark: gray;
