/*
 * Color Guide
 */


/** DEFAULTS  ***********/
$base-color-light: #ffffff;
$base-color-dark: #000000;

/** SECTIONS  ***********/
$scheme-color-one: #d95253;
$scheme-color-one-light: red;
$scheme-color-one-dark: red;

$scheme-color-two: #e5e1dd;
$scheme-color-two-light: green;
$scheme-color-two-dark: green;

$scheme-color-three: #7ec09a;
$scheme-color-three-light: yellow;
$scheme-color-three-dark: yellow;

$scheme-color-four: #676951;
$scheme-color-four-light: blue;
$scheme-color-four-dark: blue;

$scheme-color-five: #676951;
$scheme-color-five-light: pink;
$scheme-color-five-dark: pink;

$scheme-color-six: #f4f2dd;
$scheme-color-six-light: gray;
$scheme-color-six-dark: gray;
