/*
 * Links and Buttons
 */


a, button {
  outline: none;
  color: #231f20;
  &:hover {
    color: inherit;
  }
}

a{
  font-weight: bold;
}

/** Button Defaults ***********/
.btn {
  border:0;
  font-weight: bold;
  padding: 0 .3em;
	vertical-align: inherit;
  transition: all .2s linear;
	font-size: inherit;
	line-height: inherit;

  &.btn-primary {
	background-color: transparent;
    color: #B5A89D;

    &:hover {
		background-color: transparent;
      color: $text-scheme-colour-one;
      opacity: .8;
		text-decoration: underline;
    }
  }

  &.btn-secondary {
    background-color: $text-scheme-colour-four;
    color: $base-color-light;
    padding: .1em .5em;

    &:hover {
      background-color: $text-scheme-colour-one;
      opacity: .8;
    }
  }

  &.btn-email {

  }
}


.link-inline {
	font-weight: bold;
	color: #5fc7cd;
	text-decoration: underline;
	&:hover {
		color: #5fc7cd;
		text-decoration: none;
	}
}

.link-light {
	color: white;
	&:hover {
		color: inherit;
	}
}