/*
 * Mixins
 */



/** SKEW  ***********/
@mixin skew($skew) {
  -webkit-transform: skewY($skew);
  -o-transform:skewY($skew);
  -moz-transform: skewY($skew);
  -ms-transform: skewY($skew);
  transform: skewY($skew);

}

/** BORDER RADIUS ***********/
// Border radius all
@mixin radius-all($radius) {
  -webkit-border-radius: $radius;
  -o-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

// Border radius top
@mixin radius-top($radius) {
  -webkit-border-top-radius: $radius;
  -o-border--top-radius: $radius;
  -moz-border-top-radius: $radius;
  -ms-border-top-radius: $radius;
  border-top-radius: $radius;
}

// Border radius right
@mixin radius-right($radius) {
  -webkit-border-right-radius: $radius;
  -o-border--right-radius: $radius;
  -moz-border-right-radius: $radius;
  -ms-border-right-radius: $radius;
  border-right-radius: $radius;
}

// Border radius bottom
@mixin radius-bottom($radius) {
  -webkit-border-bottom-radius: $radius;
  -o-border--bottom-radius: $radius;
  -moz-border-bottom-radius: $radius;
  -ms-border-bottom-radius: $radius;
  border-bottom-radius: $radius;
}

// Border radius left
@mixin radius-left($radius) {
  -webkit-border-left-radius: $radius;
  -o-border--left-radius: $radius;
  -moz-border-left-radius: $radius;
  -ms-border-left-radius: $radius;
  border-left-radius: $radius;
}


/** GRADIENTS  ***********/
@mixin gradient-style-1($colour1, $colour2) {
	background: $colour1; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  $colour1 0%, $colour2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,$colour1), color-stop(100%,$colour2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  $colour1 0%,$colour2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  $colour1 0%,$colour2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  $colour1 0%,$colour2 100%); /* IE10+ */
	background: linear-gradient(135deg,  $colour1 0%,$colour2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$colour1', endColorstr='$colour2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
