/*
 * Typography
 */


h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

.headline {
  margin-bottom: .5em;
}

/** TYPO VARIATIONS ***********/
.headline-l {
  font-size: 4em;
  line-height: 1;
  text-transform: uppercase;
}

.md-headline {
  font-size: 4em;
}

.xs-headline {
	font-size: 1.5em;
}

.sm-headline {
  font-size: 2.5em;
}

.lg-headline {
  font-size: 5em;
}

.lr-headline {
  font-size: 6em;
}

/** HEADLINE TYPE ONE  ********/
.headline-type-one {
  font-family: $robotoBold;
}

.headline-type-two {
  font-family: $robotoLight;
}

.scheme-colour-2 {

  h2 {
    color: #2b3040;
  }

}