/*
 * Typography
 */


h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

/** TYPO VARIATIONS ***********/
.headline-l {
  font-size: 4em;
  line-height: 1;
  padding: .08em .08em 0;
  text-transform: uppercase;
}

.md-headline {
  font-size: 4em;
}

.sm-headline {
  font-size: 2.5em;
}

/** HEADLINE TYPE ONE  ********/
.headline-type-one {
	color: #eae3dc;
	font-family: $ostrichBold;
	text-transform: uppercase;
}

.scheme-colour-2 {

	h2 {
		color: #2b3040;
	}

}