/*
 * Typography
 */


h1, h2, h3, h4, h5 {
	margin: 0;
	padding: 0;
	font-family: $asap;
	text-rendering: optimizeLegibility;
	font-weight: normal;
}

.headline {
	margin-bottom: .2em;
}

/** TYPO VARIATIONS ***********/
.headline-l {
	font-size: 3.5em;
	line-height: 1;
	// text-transform: uppercase;
}

.md-headline {
	font-size: 2.5em;
}

.xs-headline {
	font-size: 1.5em;
	font-weight: normal;
}

.sm-headline {
	font-size: 1.5em;
	margin-bottom: 1em;
}

.lg-headline {
	font-size: 5em;
}

.lr-headline {
	font-size: 6em;
}

/** HEADLINE TYPE ONE  ********/
.headline-type-one {
	font-family: $asap;
	font-weight: bold;
}

.headline-type-two {
	font-family: $asap;
	color: #45a26e;
	font-weight: bold;
}

.sub-headline {
	font-size: 1.5em;
	font-weight: normal;
	color: #898989;
	margin-bottom: 1em;
}

.headline-dark {
	color: #384c36;
}