/*
  Project: Personal Site
  Author: Nicolas Telfer
  Date: 30/092013
*/
/** IMPORTS  ************/
/*
  Import all Default Styles
*/
/**
 * Variables
 **/
/**  TEXT OVERIDERS  ************/
/* line 6, ../../../dev/sass/base/_variables.scss */
.txt-trans {
  text-transform: uppercase;
}

/* line 8, ../../../dev/sass/base/_variables.scss */
.text-center {
  text-align: center;
}

/* line 9, ../../../dev/sass/base/_variables.scss */
.text-right {
  text-align: right;
}

/* line 10, ../../../dev/sass/base/_variables.scss */
.text-left {
  text-align: left;
}

/**  MARGINS  ***********/
/* line 15, ../../../dev/sass/base/_variables.scss */
.man {
  margin: 0px;
}

/* line 16, ../../../dev/sass/base/_variables.scss */
.mtn {
  margin-top: 0px;
}

/* line 17, ../../../dev/sass/base/_variables.scss */
.mrn {
  margin-right: 0px;
}

/* line 18, ../../../dev/sass/base/_variables.scss */
.mbn {
  margin-bottom: 0px;
}

/* line 19, ../../../dev/sass/base/_variables.scss */
.mln {
  margin-left: 0px;
}

/* line 22, ../../../dev/sass/base/_variables.scss */
.mas {
  margin: 5px;
}

/* line 23, ../../../dev/sass/base/_variables.scss */
.mts {
  margin-top: 5px;
}

/* line 24, ../../../dev/sass/base/_variables.scss */
.mrs {
  margin-right: 5px;
}

/* line 25, ../../../dev/sass/base/_variables.scss */
.mbs {
  margin-bottom: 5px;
}

/* line 26, ../../../dev/sass/base/_variables.scss */
.mls {
  margin-left: 5px;
}

/* line 29, ../../../dev/sass/base/_variables.scss */
.mam {
  margin: 10px;
}

/* line 30, ../../../dev/sass/base/_variables.scss */
.mtm {
  margin-top: 10px;
}

/* line 31, ../../../dev/sass/base/_variables.scss */
.mrm {
  margin-right: 10px;
}

/* line 32, ../../../dev/sass/base/_variables.scss */
.mbm {
  margin-bottom: 10px;
}

/* line 33, ../../../dev/sass/base/_variables.scss */
.mlm {
  margin-left: 10px;
}

/* line 36, ../../../dev/sass/base/_variables.scss */
.maml {
  margin: 20px;
}

/* line 37, ../../../dev/sass/base/_variables.scss */
.mtml {
  margin-top: 20px;
}

/* line 38, ../../../dev/sass/base/_variables.scss */
.mrml {
  margin-right: 20px;
}

/* line 39, ../../../dev/sass/base/_variables.scss */
.mbml {
  margin-bottom: 20px;
}

/* line 40, ../../../dev/sass/base/_variables.scss */
.mlml {
  margin-left: 20px;
}

/* line 43, ../../../dev/sass/base/_variables.scss */
.mal {
  margin: 30px;
}

/* line 44, ../../../dev/sass/base/_variables.scss */
.mtl {
  margin-top: 30px;
}

/* line 45, ../../../dev/sass/base/_variables.scss */
.mrl {
  margin-right: 30px;
}

/* line 46, ../../../dev/sass/base/_variables.scss */
.mbl {
  margin-bottom: 30px;
}

/* line 47, ../../../dev/sass/base/_variables.scss */
.mll {
  margin-left: 30px;
}

/* line 50, ../../../dev/sass/base/_variables.scss */
.malr {
  margin: 40px;
}

/* line 51, ../../../dev/sass/base/_variables.scss */
.mtlr {
  margin-top: 40px;
}

/* line 52, ../../../dev/sass/base/_variables.scss */
.mrlr {
  margin-right: 40px;
}

/* line 53, ../../../dev/sass/base/_variables.scss */
.mblr {
  margin-bottom: 40px;
}

/* line 54, ../../../dev/sass/base/_variables.scss */
.mllr {
  margin-left: 40px;
}

/*
 * Mixins
 */
/** SKEW  ***********/
/** BORDER RADIUS ***********/
/*
 * Color Guide
 */
/** DEFAULTS  ***********/
/** TEXT COLOURS  *********/
/** SECTIONS  ***********/
/** FONT STYLE: Lato  ***********************/
@font-face {
  font-family: 'lato';
  src: url("../fonts/lato-bold-webfont.eot"), url("../fonts/lato-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-bold-webfont.ttf") format("truetype"), url("../fonts/lato-bold-webfont.woff") format("woff"), url("../fonts/lato-bold-webfont.svg") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'lato';
  src: url("../fonts/lato-bolditalic-webfont.eot"), url("../fonts/lato-bolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-bolditalic-webfont.ttf") format("truetype"), url("../fonts/lato-bolditalic-webfont.woff") format("woff"), url("../fonts/lato-bolditalic-webfont.svg") format("svg");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'lato';
  src: url("../fonts/lato-italic-webfont.eot"), url("../fonts/lato-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-italic-webfont.ttf") format("truetype"), url("../fonts/lato-italic-webfont.woff") format("woff"), url("../fonts/lato-italic-webfont.svg") format("svg");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'lato';
  src: url("../fonts/lato-regular-webfont.eot"), url("../fonts/lato-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-regular-webfont.ttf") format("truetype"), url("../fonts/lato-regular-webfont.woff") format("woff"), url("../fonts/lato-regular-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/** FONT STYLE: Roboto Bold  ***********************/
@font-face {
  font-family: 'robotoBold';
  src: url("../fonts/robotoslab-bold-webfont.eot"), url("../fonts/robotoslab-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/robotoslab-bold-webfont.ttf") format("truetype"), url("../fonts/robotoslab-bold-webfont.woff") format("woff"), url("../fonts/robotoslab-bold-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/** FONT STYLE: Roboto Light  ***********************/
@font-face {
  font-family: 'robotoLight';
  src: url("../fonts/robotoslab-light-webfont.eot"), url("../fonts/robotoslab-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/robotoslab-light-webfont.ttf") format("truetype"), url("../fonts/robotoslab-light-webfont.woff") format("woff"), url("../fonts/robotoslab-light-webfont.svg") format("svg");
  font-weight: lighter;
  font-style: normal;
}

/** FONT STYLE: Ostrich  ***********************/
@font-face {
  font-family: 'ostrichBold';
  src: url("../fonts/ostrich-bold.eot"), url("../fonts/ostrich-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ostrich-bold.ttf") format("truetype"), url("../fonts/ostrich-bold.woff") format("woff"), url("../fonts/ostrich-bold.svg") format("svg");
  font-weight: lighter;
  font-style: normal;
}

/*
 * Typography
 */
/* line 6, ../../../dev/sass/base/_typography.scss */
h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

/* line 11, ../../../dev/sass/base/_typography.scss */
.headline {
  margin-bottom: .5em;
}

/** TYPO VARIATIONS ***********/
/* line 16, ../../../dev/sass/base/_typography.scss */
.headline-l {
  font-size: 4em;
  line-height: 1;
  text-transform: uppercase;
}

/* line 22, ../../../dev/sass/base/_typography.scss */
.md-headline {
  font-size: 4em;
}

/* line 26, ../../../dev/sass/base/_typography.scss */
.sm-headline {
  font-size: 2.5em;
}

/* line 30, ../../../dev/sass/base/_typography.scss */
.lg-headline {
  font-size: 5em;
}

/* line 34, ../../../dev/sass/base/_typography.scss */
.lr-headline {
  font-size: 6em;
}

/** HEADLINE TYPE ONE  ********/
/* line 39, ../../../dev/sass/base/_typography.scss */
.headline-type-one {
  font-family: "robotoBold", Helvetica, Arial;
}

/* line 43, ../../../dev/sass/base/_typography.scss */
.headline-type-two {
  font-family: "robotoLight", Helvetica, Arial;
}

/* line 49, ../../../dev/sass/base/_typography.scss */
.scheme-colour-2 h2 {
  color: #2b3040;
}

/*
 * Links and Buttons
 */
/* line 6, ../../../dev/sass/base/_links.scss */
a, button {
  outline: none;
}

/** Button Defaults ***********/
/* line 11, ../../../dev/sass/base/_links.scss */
.btn {
  border: 0;
  font-weight: bold;
  padding: .8em 1.4em;
  transition: all .2s linear;
}
/* line 17, ../../../dev/sass/base/_links.scss */
.btn.btn-primary {
  background-color: #e5c056;
  color: white;
}
/* line 21, ../../../dev/sass/base/_links.scss */
.btn.btn-primary:hover {
  background-color: #2c2420;
  opacity: .8;
}
/* line 27, ../../../dev/sass/base/_links.scss */
.btn.btn-secondary {
  background-color: #e5c056;
  color: white;
  padding: .1em .5em;
}
/* line 32, ../../../dev/sass/base/_links.scss */
.btn.btn-secondary:hover {
  background-color: #2c2420;
  opacity: .8;
}

/*
 * Set default styles to all chunks
 */
/** SECTIONS  **********/
/* line 6, ../../../dev/sass/chunks/_chunks.defaults.scss */
.section {
  padding-bottom: 2em;
  padding-top: 1em;
}

/* line 11, ../../../dev/sass/chunks/_chunks.defaults.scss */
.skew {
  -webkit-transform: skewY(-1deg);
  -o-transform: skewY(-1deg);
  -moz-transform: skewY(-1deg);
  -ms-transform: skewY(-1deg);
  transform: skewY(-1deg);
}

/* line 17, ../../../dev/sass/chunks/_chunks.defaults.scss */
.anim-img img {
  max-width: 100%;
}

/* line 26, ../../../dev/sass/chunks/_chunks.defaults.scss */
*,
*:after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 32, ../../../dev/sass/chunks/_chunks.defaults.scss */
section {
  position: relative;
  padding: 7em 15%;
  background: #2980b9;
  color: #fff;
  text-align: center;
}

/* line 40, ../../../dev/sass/chunks/_chunks.defaults.scss */
.section-solid-border {
  border-bottom: 0.2em solid white;
}

/* line 44, ../../../dev/sass/chunks/_chunks.defaults.scss */
section h2 {
  margin: 0;
  padding: 0;
  font-size: 2.8em;
  font-weight: 400;
}

/* line 51, ../../../dev/sass/chunks/_chunks.defaults.scss */
section p {
  opacity: .8;
  font-size: 1.3em;
  line-height: 1.5;
}

/* line 58, ../../../dev/sass/chunks/_chunks.defaults.scss */
.text:first-child {
  text-align: right;
}

/* line 62, ../../../dev/sass/chunks/_chunks.defaults.scss */
.text:nth-child(2) {
  text-align: left;
}

/* line 67, ../../../dev/sass/chunks/_chunks.defaults.scss */
section::before,
section::after {
  position: absolute;
  content: '';
  pointer-events: none;
}

/* line 75, ../../../dev/sass/chunks/_chunks.defaults.scss */
.col-2 .column {
  width: 49%;
}

/* line 79, ../../../dev/sass/chunks/_chunks.defaults.scss */
.col-3 .column {
  padding: 0 1%;
  width: 32.8%;
  text-align: center;
}

/* line 85, ../../../dev/sass/chunks/_chunks.defaults.scss */
.col-4 .column {
  padding: 0 1%;
  width: 24.6%;
  text-align: center;
}

/* line 91, ../../../dev/sass/chunks/_chunks.defaults.scss */
.col-3 .column p {
  padding: 1.4em;
}

/* line 95, ../../../dev/sass/chunks/_chunks.defaults.scss */
.column {
  display: inline-block;
  vertical-align: top;
}

/* line 100, ../../../dev/sass/chunks/_chunks.defaults.scss */
.icon, .icon-small {
  border: .1em solid white;
  display: block;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.1);
  color: #fff;
  text-align: center;
  font-size: 8em;
  line-height: 2em;
  margin: 0 auto;
}

/* line 114, ../../../dev/sass/chunks/_chunks.defaults.scss */
.icon-small {
  border-width: 0.05em;
  height: .7em;
  width: .7em;
  margin-bottom: 0px;
}

/* line 122, ../../../dev/sass/chunks/_chunks.defaults.scss */
.icon-image {
  overflow: hidden;
}
/* line 124, ../../../dev/sass/chunks/_chunks.defaults.scss */
.icon-image img {
  max-width: 100%;
  vertical-align: top;
}

/* line 131, ../../../dev/sass/chunks/_chunks.defaults.scss */
.profile-thumb {
  background: white;
  overflow: hidden;
}
/* line 135, ../../../dev/sass/chunks/_chunks.defaults.scss */
.profile-thumb img {
  max-width: 100%;
}

/** IMPORTS  **********/
/*
 * Section Top
 */
/* line 5, ../../../dev/sass/chunks/_chunk.section-top.scss */
.section-top {
  background-color: yellow;
}

/*
 * Chunk for main banner area
 * Here is shown my profile pic and access to twitter
 */
/* line 6, ../../../dev/sass/chunks/_chunk.section-banner.scss */
.section-banner {
  background-color: green;
}

/*
 * Colour Scheme for each section
 */
/* Pass a comma separated list of backgrounds: */
/* Animate the positions of both of the backgrounds */
/* line 11, ../../../dev/sass/chunks/_chunk.section.scheme-colours.scss */
.scheme-colour-1 {
  background: linear-gradient(to bottom, #8dd2d9, #58c0c7);
}

/* line 16, ../../../dev/sass/chunks/_chunk.section.scheme-colours.scss */
.scheme-colour-2 {
  background-color: #f9f2e0;
  color: white;
}

/* line 21, ../../../dev/sass/chunks/_chunk.section.scheme-colours.scss */
.scheme-colour-2 {
  background-color: #f9f2e0;
  color: #2c2420;
}

/* line 27, ../../../dev/sass/chunks/_chunk.section.scheme-colours.scss */
.scheme-colour-3 {
  background-color: white;
  color: #e5c056;
}
/* line 31, ../../../dev/sass/chunks/_chunk.section.scheme-colours.scss */
.scheme-colour-3 p {
  color: #2c2420;
}

/* line 36, ../../../dev/sass/chunks/_chunk.section.scheme-colours.scss */
.scheme-colour-4 {
  background-color: #f6f8d8;
}

/* line 40, ../../../dev/sass/chunks/_chunk.section.scheme-colours.scss */
.scheme-colour-5 {
  background-color: #cf4b1c;
}

/* line 44, ../../../dev/sass/chunks/_chunk.section.scheme-colours.scss */
.scheme-colour-6 {
  background-color: #f4f2dd;
}

/* line 51, ../../../dev/sass/chunks/_chunk.section.scheme-colours.scss */
.group-items li.group-item {
  display: inline-block;
  margin-left: 1em;
  vertical-align: top;
}
/* line 55, ../../../dev/sass/chunks/_chunk.section.scheme-colours.scss */
.group-items li.group-item a {
  color: #2b3040;
}
/* line 57, ../../../dev/sass/chunks/_chunk.section.scheme-colours.scss */
.group-items li.group-item a .title {
  display: block;
  margin-top: 5px;
}

/* Triangles */
/* line 148, ../../../dev/sass/chunks/_chunks.defaults.scss */
.ss-style-triangles::before,
.ss-style-triangles::after {
  left: 50%;
  width: 50px;
  height: 50px;
  -webkit-transform: translateX(-50%) rotate(45deg);
  transform: translateX(-50%) rotate(45deg);
}

/* line 157, ../../../dev/sass/chunks/_chunks.defaults.scss */
.ss-style-triangles::after {
  bottom: -25px;
  z-index: 10;
  background: inherit;
}

/* Zig Zag (3d up and simple down) */
/* line 164, ../../../dev/sass/chunks/_chunks.defaults.scss */
.ss-style-zigzag::after {
  right: 0;
  left: 0;
  z-index: 10;
  display: block;
  height: 50px;
  background-size: 50px 100%;
}

/* line 173, ../../../dev/sass/chunks/_chunks.defaults.scss */
.ss-style-zigzag::after {
  top: 100%;
  background-image: -webkit-gradient(linear, 0 0, 300% 100%, color-stop(0.25, #69b396), color-stop(0.25, #69b396));
  background-image: linear-gradient(135deg, #69b396 25%, transparent 25%), linear-gradient(225deg, #69b396 25%, transparent 25%);
  background-position: 50%;
}

/*
 * Butttons
 */
/* line 6, ../../../dev/sass/partials/_buttons.scss */
.button {
  background: rgba(0, 0, 0, 0.2);
  color: white;
  padding: .8em 1em;
  -webkit-border-radius: 7px;
  -o-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  border-radius: 7px;
  transition: all .2s linear;
  -webkit-transition: all .2s linear;
}
/* line 13, ../../../dev/sass/partials/_buttons.scss */
.button:hover {
  color: white;
  background: rgba(0, 0, 0, 0.4);
  text-decoration: none;
}

/* line 12, ../../../dev/sass/main-styles.scss */
html, body {
  margin: 0;
  padding: 0;
}

/* line 17, ../../../dev/sass/main-styles.scss */
html {
  overflow-y: scroll;
  /* always force a scrollbar in non-IE */
}

/* line 21, ../../../dev/sass/main-styles.scss */
body {
  background: #2d6987;
  font-family: "lato", Helvetica, Arial;
  padding: 0;
  overflow-x: hidden;
}

/* line 28, ../../../dev/sass/main-styles.scss */
#wrapper {
  background-color: white;
  position: relative;
  margin: 0 auto;
  width: 100%;
}

/* Media Queries for the layout */
@media screen and (max-width: 68em) {
  /* line 37, ../../../dev/sass/main-styles.scss */
  section {
    font-size: 80%;
  }
}
@media screen and (max-width: 54em) {
  /* line 44, ../../../dev/sass/main-styles.scss */
  #wrapper {
    width: 100%;
  }

  /* line 48, ../../../dev/sass/main-styles.scss */
  .column {
    display: block;
    width: 100% !important;
  }

  /* line 54, ../../../dev/sass/main-styles.scss */
  .text:first-child,
  .text:nth-child(2) {
    text-align: center;
  }

  /* line 58, ../../../dev/sass/main-styles.scss */
  .icon, .icon-small {
    margin: 0 auto;
  }

  /* line 62, ../../../dev/sass/main-styles.scss */
  .col-2 .column:first-child .icon, .col-2 .column:first-child .icon-small {
    margin: 0 auto 50px;
  }

  /* line 66, ../../../dev/sass/main-styles.scss */
  .col-2 .column:nth-child(2) .icon, .col-2 .column:nth-child(2) .icon-small {
    margin: 50px auto 0;
  }
}
