/*
  Project: Personal Site
  Author: Nicolas Telfer
  Date: 30/092013
*/

/** IMPORTS  ************/
@import "base/base.defaults";
@import "chunks/chunks.defaults";
@import "partials/partials.default";

html, body {
  margin: 0;
  padding: 0;
}

html {
  overflow-y: scroll; /* always force a scrollbar in non-IE */
}

body {
  background: #2d6987;
  font-family: $bodyFont;
  padding: 0;
  overflow-x: hidden;
}

#wrapper {
  background-color: $base-color-light;
  position: relative;
  margin: 0 auto;
	padding-top: 25em;
  width: 100%;
}

/* Media Queries for the layout */
@media screen and (max-width: 68em) {
  section {
    font-size: 80%;
  }
}

@media screen and (max-width: 54em) {

  #wrapper {
    width: 100%;
  }

  .column {
    display: block;
    width: 100% !important;
  }

  .text:first-child,
  .text:nth-child(2) {
    text-align: center;
  }

  .icon {
    margin: 0 auto;
  }

  .col-2 .column:first-child .icon {
    margin: 0 auto 50px;
  }

  .col-2 .column:nth-child(2) .icon {
    margin: 50px auto 0;
  }
}
